.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          Ni nini maana yakutwaa mtaro?
      .modal-body
        %p.lead
          asante kwa nia yako yakutwaa mtaro mmoja au zaidi ya jiji letu la Daresalaam , kwa kuhaidi kutunza mtaro na kuuweka safi na kwa kutunza mazingira yetu na hivyo kupunguza mafuriko 
        %h3
          Safety tips
        %ul
          %li
            %strong
              usijaribu
              kutoa chuma chujio la mtaro.
          %li
            Safisha ukiwa katika
            %strong
              njia ya watembezi, sio Barabarani.
            Vaa
            %strong
              Nguo zenye riflekta
            Ili wenye magari waweze kukuona
          %li
            zingatia
            %strong
              Uvaaji wa gloves , uwe makini na vitu vyenye ncha kali!
          %li
            Tumia reki , sepeto au fagio na sio mikono yako.
        %h3
          Jinsi yakutunza mtaro wa milki yako
        %ul
          %li
            ni vizuri kusafisha mtaro kabla mvua hazijaanza.
          %li
            weka majani na vitu viharibikavyo kwenye sehemu ya peke yake.
          %li
            Tenga taka nyingine kwenye sehemu ya pekee yake.
          %li
            Safisha walau mita mia za mtaro .
          %li
            Jihadhari na taka za hospitali na sumu za madawa, ukipata dharura au kuumia ,piga namba 9-1-1. kama sio nenda,
            =link_to("report it to 111.","twitter.com/ramanihuria")
        %h3
          kama mtaro ni mchafu sana
        %ul
          %li
            Kama mtaro ni mchafu sana au una matatizo mengine 
            %ul
              %li
                = link_to("Contact 111 on the web","twitter.com/ramanihuria")
                (or dial 1-1-1) ili usafishwe na jiji.
        %p
          %em
            Kumbuka jiji la Daresalaam halita husishwa na chochote kitakacho kutokea wakati  ukisafisha mtaro wako,
            tafadhali kuwa Makini!
      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Funga


